USE [master]
GO
/****** Object:  Database [LoginWeb]    Script Date: 09/01/2022 18:46:07 ******/
CREATE DATABASE [LoginWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LoginWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LoginWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginWeb]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 09/01/2022 18:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Pass] [varbinary](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAccount]    Script Date: 09/01/2022 18:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddAccount]
@Username varchar(50),
@Pass varchar(50),
@Patron varchar(50)
AS
BEGIN
INSERT INTO Account(Username, Pass) VALUES (@Username,ENCRYPTBYPASSPHRASE(@Patron,@Pass))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidateAccount]    Script Date: 09/01/2022 18:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ValidateAccount]
	@Username varchar(50),
	@Pass varchar(50),
	@Patron varchar(50)
	as
	begin
	SELECT * FROM Account WHERE Username=@Username AND CONVERT(varchar(50),DECRYPTBYPASSPHRASE(@Patron, Pass))=@Pass
	end
GO
USE [master]
GO
